body {
  background-color: #363662;
  background-image: url('../images/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.body-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100vh;
}

@media (max-width: 500px) {
  .body-container {
    width: 100%;
  }
}

#text {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

#text img {
  width: 479px;
}

#form {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

#nameForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 10px;

  width: 334px;
  height: 58px;

  border-radius: 20px 20px 20px 20px;

  /* Inside auto layout */
  background: #131313;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

input[type='text'] {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
  border-radius: 4px;
  font-size: 24px;
  color: white;
  background-color: transparent;
}

.no-outline:focus {
  outline: none;
}

@media (max-width: 515px) {
  #text img {
    width: 100%;
  }
  #container {
    width: 100%;
  }
}
